.launcher-container {
  width: 100%;
  height: 100%;

  .stepper.custom-stepper {

    .mat-step-label {
      color: #808080;
      font-size: 14px;
    }

    .mat-horizontal-stepper-header {
      border-bottom: 1px solid #808080;
    }

    .mat-horizontal-stepper-header-container {
      background-color: #f0f0f0;
    }

    .mat-stepper-horizontal-line {
      border-top-width: 2px;
    }

    ::ng-deep {
      .launcher-input-form {
        height: 160px
      }

      .mat-horizontal-content-container {
        height: 180px;
      }

    }
  }

  .feature-number {
    font-size: 1.2em;
  }

  .button-group {
    margin-top: 10px;
    mat-label:first-child{
      margin-right: 20px;
    }
    button {
      margin-right: 10px;
      font-weight: normal;
    }
    .close-icon {
      color: red;
    }
  }

  .example-form-field {
    margin: 5px 0;
  }

  .travel-time-slider {
    margin: 0;
    width: 100%;
  }

  .toggle-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 36px;
    line-height: inherit;
    vertical-align: middle;
  }


  .next-button {
    margin-top: 25px;
    margin-left: auto;
  }
}
