.parent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-card {
  height: 100%; /* Ensure it takes full height of parent-container */
  display: flex;
  flex-direction: column; /* Set mat-card as a column flex container */
}

mat-card-content {
  flex: 1; /* Let the content grow and shrink within mat-card */
  overflow-y: auto; /* Scroll if content is larger than available space */

  width: 100%;
  background-color: black;
  color: limegreen;
  font-family: 'Courier New', monospace;
}
