<div class="main-content">
  <div fxLayout="column" fxFill fxLayoutGap="5px">
    <div fxLayout fxFlex>
      <div class="main-panel left-panel" fxFlex="30">
        <div fxLayout="column" fxFill fxLayoutGap="10px">
          <div fxLayoutAlign="center center">
            <app-launcher class="input-container"></app-launcher>
          </div>
          <div fxLayoutAlign="center center" fxFlex>
            <app-report class="result-container"></app-report>
          </div>
        </div>
      </div>
      <div class="main-panel right-panel" fxFlex="70" >
        <app-map class="map-container"></app-map>
      </div>
    </div>
  </div>
</div>
