<div class="example-container" [class.example-is-mobile]="false">
  <mat-toolbar color="primary" class="instruction-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Location Allocation</h1>
  </mat-toolbar>

  <mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav
      #sidenav
      mode="over"
      [opened]="sidenavIsOpen"
      (openedChange)="onSidenavChange()">
      <app-session-panel (sessionSelected)="sidenav.toggle(false)"></app-session-panel>
    </mat-sidenav>
    <mat-sidenav-content>
      <section class="content">
        <app-main></app-main>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
